<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/img/logo.jpg" alt="Towing" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b fw4 grey-3">
		<l1><a href="/index" class="pa3 no-underline db">PHONE: 0800 942 4929,021 532 228</a></l1>
		<li><a href="/index" class="pa3 no-underline db">Home</a></li>
		<li><a href="/products" class="pa3 no-underline db">About Us</a></li>

		<li><a href="/values" class="pa3 no-underline db">Towing Services</a></li>

		<!--<li><a href="/post" class="pa3 no-underline db">Blog</a></li>-->

		<li><a href="/contact" class="pa3 no-underline db">Contact Us</a></li>
	</ul>

</nav>
